{% extends "_modele.jinja" %}

{% block contenu %}

<section class="hero">

    <div class="hero-texte">

        <h1>Vintage Market</h1>

        <p>
            Découvrez des objets uniques vendus, échangés ou mis aux enchères
        </p>

    </div>


    <div class="vendeurs-populaires">

        {% for vendeur in vendeurs %}

            <div class="vendeur-card">

                <img
                    src="{{ url_for('static', filename='css/images/utiles/vendeur_' ~ vendeur.id_utilisateur ~ '.png') }}"
                    alt="{{ vendeur.nom }}"
                >

                <h3>
                    {{ vendeur.nom }}
                </h3>

            </div>

        {% endfor %}

    </div>

</section>



<section class="section-produits">

    <h2>
        Nouveautés
    </h2>

    <div class="grille-produits">

        {% for produit in nouveaux_produits %}

            <div class="carte-produit">

                <div class="image-produit">

                    {% if produit.src %}

                        <img
                            src="{{ produit.src }}"
                            alt="{{ produit.nom }}"
                        >

                    {% endif %}


                    <span class="badge-statut
                        {% if produit.nom_statut == 'En vente' %}
                            badge-vente
                        {% elif produit.nom_statut == 'Aux enchères' %}
                            badge-enchere
                        {% elif produit.nom_statut == 'À échanger' %}
                            badge-echange
                        {% endif %}
                    ">
                        {{ produit.nom_statut }}
                    </span>

                </div>


                <div class="contenu-produit">

                    <h3>
                        {{ produit.nom }}
                    </h3>

                    <p class="prix">
                        {{ produit.prix }} $
                    </p>

                    <div class="actions">

                    {% if produit.nom_statut == 'En vente' %}
                    <button>
                            Ajouter
                        </button>
                        {% endif %}

                    {% if produit.nom_statut == 'Aux enchères' %}
                    <button>
                            Enchérir
                        </button>
                        {% endif %}

                    {% if produit.nom_statut == 'À échanger' %}
                    <button>
                            Échanger
                        </button>
                        {% endif %}





                        <a href="/produits/{{ produit.id_produit }}">
                            Détails
                        </a>

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

</section>


<section class="section-produits">

    <h2>
        Enchères à venir
    </h2>

    <div class="grille-produits">

        {% for produit in encheres_futures %}

            <div class="carte-produit">
                  <div class="image-produit">

                    {% if produit.src %}

                        <img
                            src="{{ produit.src }}"
                            alt="{{ produit.nom }}"
                        >

                    {% endif %}


                    <span class="badge-statut
                        {% if produit.nom_statut == 'En vente' %}
                            badge-vente
                        {% elif produit.nom_statut == 'Aux enchères' %}
                            badge-enchere
                        {% elif produit.nom_statut == 'À échanger' %}
                            badge-echange
                        {% endif %}
                    ">
                        {{ produit.nom_statut }}
                    </span>

                </div>


                <div class="contenu-produit">

                    <h3>
                        {{ produit.nom }}
                    </h3>

                    <p class="prix">
                        {{ produit.prix }} $
                    </p>

                    <div class="actions">

                        {% if produit.nom_statut == 'En vente' %}
                    <button>
                            Ajouter
                        </button>
                        {% endif %}

                    {% if produit.nom_statut == 'Aux enchères' %}
                    <button>
                            Enchérir
                        </button>
                        {% endif %}

                    {% if produit.nom_statut == 'À échanger' %}
                    <button>
                            Échanger
                        </button>
                        {% endif %}

                        <a href="/produits/{{ produit.id_produit }}">
                            Détails
                        </a>

                    </div>

                </div>



            </div>

        {% endfor %}

    </div>

</section>



{% if produit_du_jour %}

<section class="produit-vedette">

    <div class="vedette-info">

        <span>
            {{ produit_du_jour.nom_statut }}
        </span>


        <h2>
            {{ produit_du_jour.nom }}
        </h2>


        <p>
            {{ produit_du_jour.description }}
        </p>


        <p class="prix">
            {{ produit_du_jour.prix }} $
        </p>


        <div class="actions">

            {% if produit_du_jour.nom_statut == "En vente" %}

                <button>
                    Acheter
                </button>

            {% elif produit_du_jour.nom_statut == "Aux enchères" %}

                <button>
                    Enchérir
                </button>

            {% elif produit_du_jour.nom_statut == "À échanger" %}

                <button>
                    Échanger
                </button>

            {% endif %}


            <a href="/produits/{{ produit_du_jour.id_produit }}">
                Détails
            </a>

        </div>

    </div>


    <div class="vedette-image">

        {% if produit_du_jour.src %}

            <img
                src="{{ produit_du_jour.src }}"
                alt="{{ produit_du_jour.nom }}"
            >

        {% endif %}

    </div>

</section>

{% endif %}



<section class="section-produits">

    <h2>
        Nos produits
    </h2>


    <div class="grille-produits">

        {% for produit in produits_aleatoires %}

            <div class="carte-produit">

                <div class="image-produit">

                    {% if produit.src %}

                        <img
                            src="{{ produit.src }}"
                            alt="{{ produit.nom }}"
                        >

                    {% endif %}


                    <span class="badge-statut
                        {% if produit.nom_statut == 'En vente' %}
                            badge-vente
                        {% elif produit.nom_statut == 'Aux enchères' %}
                            badge-enchere
                        {% elif produit.nom_statut == 'À échanger' %}
                            badge-echange
                        {% endif %}
                    ">
                        {{ produit.nom_statut }}
                    </span>

                </div>


                <div class="contenu-produit">

                    <h3>
                        {{ produit.nom }}
                    </h3>

                    <p class="prix">
                        {{ produit.prix }} $
                    </p>

                    <div class="actions">

                        {% if produit.nom_statut == 'En vente' %}
                    <button>
                            Ajouter
                        </button>
                        {% endif %}

                    {% if produit.nom_statut == 'Aux enchères' %}
                    <button>
                            Enchérir
                        </button>
                        {% endif %}

                    {% if produit.nom_statut == 'À échanger' %}
                    <button>
                            Échanger
                        </button>
                        {% endif %}

                        <a href="/produits/{{ produit.id_produit }}">
                            Détails
                        </a>

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>


    <div class="voir-plus">

        <a href="{{ url_for('recherche_produits') }}">

            Voir Plus

            <i class="bi bi-caret-down-fill"></i>

        </a>

    </div>

</section>

{% endblock %}